{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'votingpoll/style.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1 style="color: yellow">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form class="options" action="{% url 'votingpoll:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label style="color: hotpink;" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input style= "background-color: lightgreen; color: darkgreen; font-weight: bold;" type="submit" value="Vote">
</form>